.snips-sw-btn{/*默认背景为灰色*/

    appearance: none;/*去掉复选框的默认样式，将背景显示出来*/
    -webkit-appearance: none;
    outline: none;
    position: relative;
    width: 48px;/*设置checkbox的宽高*/
    height: 28px;
    background: #d9534f;
    border-radius: 3px;
    border: 1px solid #d43f3a;
    outline: 0;
    box-sizing: border-box;
    content: "Enabled  Disabled";
}
.snips-sw-btn:checked{/*选中时：背景变为绿色*/
    border-color: #5cb85c;
    background-color: #4cae4c;
}
.snips-sw-btn:before, .snips-sw-btn:after{/*设置0.3秒内，变换完毕*/
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    border-radius: 3px;
    transition: transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}
.snips-sw-btn:before{/*小圆点右侧的白色*/
    width: 0px;
    background-color: #d9534f;
}
.snips-sw-btn:after{/*小圆点*/

    width: 18px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.snips-sw-btn:checked:before{/*选中时：小圆点右侧的白色缩小为0*/
    transform: scale(0);
    -webkit-transform: scale(0);
}
.snips-sw-btn:checked:after{/*选中时：小圆点右移*/
    transform: translateX(28px);
    -webkit-transform: translateX(28px);
}


.section-title{
	padding-bottom: 20px;
}

.eqLogicDisplayCard:hover{
	opacity: 0.6;
}

#bt_addNewBinding:hover{
	background-color: #f5f7f9 !important;
	border: 1.5px solid #5cb85c !important;
}
