@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


.section-title{
	padding-bottom: 20px;
}

.eqLogicDisplayCard:hover{
	opacity: 0.6;
}

.eqLogicAction:hover{
	opacity: 0.6;
}

#bt_addNewBinding:hover{
	background-color: #f5f7f9 !important;
	border: 1.5px solid #5cb85c !important;
	color: #5cb85c !important;
}

.snips_intent{
	/*border: 0px !important;*/
	min-height:142px !important;
	font-size: 1em!important;
	border-radius: 0px!important;
	padding-top: 0px!important;
}
.eqLogicThumbnailContainer{
    min-height: 160px;
}