@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


[data-page="snips"] .panel-heading {
	text-align: center;
	list-style:none;
}

#bt_addNewBinding:hover{
	background-color: #f5f7f9 !important;
	border: 1.5px solid #5cb85c !important;
	color: #5cb85c !important;
}


[data-page="snips"] .eqLogicThumbnailContainer {
    min-height: 140px;
}

.callbackScenarioTags {
	margin-right: 40px;
	display: inline-flex;
}
